<div class="footer-padding"></div>
  <div class="footer">
    <div><p id="date-time"></p></div>
    <div><p>Made with 💚 by The Hevi Production 2012-2023</p></div>
  </div>
 
</div>
<script src="/script.js"></script>
</body>
</html>